@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RIDIBatang'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


.section {
	  align:center;
      background-color: #aaa;
      width: 95%;
      padding: 20px;
      margin-left:30px;
      background: #fff;
  	  box-shadow: 3px 5px 7px 5px #eee, 2px 2px 2px rgba(94, 104, 121, .288);
  	  border-radius: 15px;
    }


table {
	border-collapse: collapse;
	border-spacing: 0;
	box-shadow: 1px 1px 1px 1px #eee, 1px 1px 1px rgba(94, 104, 121, .288);
	white-space: nowrap;
}

.err {
	font-size: 9pt;
	color: red;
	font-weight: bold;
}



#tag{
	margin-right:83%;
    font-size: 2em;
}


.board-table {
	font-size: 13px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-top: 20px;
}

.board-table a {
  color: #333;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}

.board-table th{
	background:#f8e8da;
}

.board-table th, .board-table td {
  padding: 14px 0;
  padding-left: 15px;
  padding-right: 20px;
  font-size:17px;
}

.board-table tbody td {
  border-top: 1px solid #e7e7e7;
}

.board-table tbody th {
  	padding-left: 28px;
  	border-top: 1px solid #e7e7e7;
}

.board-table tbody th p{
  	display: none;
}


.btn {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}


.btn-dark {
  background: #c0c0c0 ;
  color: #fff ;
  height:50px;
  position:fixed 
}

.btn-dark:hover, .btn-dark:focus {
  background: #373737;
  color: #fff;
  box-shadow: inset -1px -1px 2px #eee, inset 1px 1px 1px rgba(94, 104, 121, .288);
}

.btn-white {
  background: #D0D6CE;
  color: #fff;
  border-color: #fff ;
  height:30px;
  width:100px;
  text-align:center;
  margin-top:10px;
  margin-bottom:10px;
  border-radius:5px;
}  


.btn-white:hover, .btn-dark:focus {
  background: #c0c0c0;
  border: none;
  border-radius:5px;
  color: #fff;
}


a{
	text-decoration-line: none;
}

/* reset */

* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}
input[type="text"], select, textarea{
	font-size: 15px;
	height:35px;
	border: none;
	border-bottom: solid #aaaaaa 1px;
	padding-bottom: 3px;
	padding-left: 10px;
	position: relative;
	background: #f8f9f7;
	z-index: 5;
	border-radius:5px;
}
textarea{
	width: 300px;
	height: 150px;
	position: relative;
	bottom: 60px;
	resize: none;
}
#ttl_img, #dtl_img{
	max-width: 200px;
	min-width: 200px;
	max-height: 200px; 
	min-height: 200px;
	cursor:pointer;
}
#name-input{
	width: 450px;
}
table th{
	text-align:left;
}

